@import url(https://myfonts.ru/myfonts?fonts=museo-sans-cyrl);

html,
body {
	height: 100%;
}


body{
	font-family: var(--font-family);
	font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: var(--dark);
}

.title{
	font-family: var(--font-family);
	font-weight: 600;
    font-size: 64px;
	line-height: 100%;
	color: var(--dark);
	margin-left: -56px;

	&::before{
		content: url('../../img/Vector.svg');
		display: inline-block;
		width: 26px;
		height: 70px;
		padding-right: 56px;
    }

}


@media (max-width: 880px) {
	.title{
		font-size: 48px;
		margin-left: 0;

		&::before{
			content: url('../../img/Vector.svg');
			width: 16px;
			height: 60px;
			
		}
    }
}

@media (max-width: 697px) {
	.title{
		font-size: 40px;
    }
}

@media (max-width: 499px) {
	.title{
		&::before{
            content: none;
        }
    }
}
