:root {
	--container-width: 1176px;
	--container-padding: 15px;
	
    --font-family: "MuseoSansCyrl", sans-serif;

	--page-bg: #fff;
	--blue: #215fff;
	--pink-dark: #e92862;
	--pink: #fd3c76;
	--black: #262626;
	--dark: #1f2533;
}
